**/.ipynb_checkpoints/
**/venv
**/mlruns
**/data
**/.vscode
**/.DS_Store
**/*.egg-info
**/logs

.env

**/others_models/

## Core latex/pdflatex auxiliary files:
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.lol
*.files
*.fls
*.fdb_latexmk


# other
*.pyc
