ipython
ipykernel
PrettyTable
matplotlib
seaborn
numpy
scipy<1.2.0
scikit-learn
scikit-image
Pillow
tensorflow-gpu==2.3.1
keras
git+https://www.github.com/keras-team/keras-contrib.git
torch
torchvision
pickle
